---
layout: layouts/base.liquid
---
<h2>Currently Watching</h2>

<!-- shows the list of currently watching tv shows -->
<p>
  {% for shows in currentWatchingShow %}
  <ul>
    <li>{{ shows[1].name}}</li>
    <ul>
      <li>{{ shows[1].description }}</li>
    </ul>
  </ul>
  {% endfor %}
</p>


<h2>TV Shows</h2>

<!-- to retrive post marked with tagname tv_shows in order where latest post is at top -->
{% for post in collections.tv_shows reversed %}
    <p class="postLink">

      <!-- to check if post is publishable -->
      {% if post.data.publish !=false %}

        <!-- to print the date of publishing of post -->
        <em>{{ post.date | date: "%Y-%m-%d" }}</em>

        <!-- to create the link of using it's title name -->
        <a href="{{ post.url }}">{{ post.data.pageTitle }}</a>

        <!-- to display the tags of the post by excluding few -->
        {% for tag in post.data.tags reversed %}
              {% if tag != "posts" and tag != "articles" and tag != "tv_shows" and tag != "reviews" and tag != "last_week" and tag != "books" %}

                <!-- prints the tag names -->
                <b>{{tag}}</b>

              {% endif %}
        {% endfor %}
      {%endif%}
    </p>
{% endfor %}
